* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgba(5, 77, 53, 0.884);
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.title {
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    padding: 40px 0;
    color: rgb(207, 216, 212);
    text-shadow: 0 3px 10px rgba(0, 0, 0, .9);
}

.timer {
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
}

.timer__block {
    width: 100px;
    height: 120px;

    background-color: rgba(5, 59, 41, 0.507);
    box-shadow: 0px 4px 20px rgb(0, 0, 0);
    color: rgb(207, 216, 212);

    font-size: 16px;
    font-weight: 400;
    text-align: center
    
}

.timer__num {
    display: block;
    font-size: 56px;
    font-weight: 700;
    margin: 10px;
    
}

.timer__item {
    margin: 0;
}
